---
import { getCollection } from "astro:content";
import "../../styles/global.css";

export async function getStaticPaths() {
  const posts = await getCollection("mental");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const base = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{post.data.title}</title>
  </head>
  <body>
   <article>
      <!-- HOME BUTTON -->
      <a class="home-button" href={base}>← Home</a>

      <div class="title-wrapper">
        <h1>{post.data.date}</h1>
      </div>

      <div class="title-wrapper">
        <h1>{post.data.title}</h1>
      </div>

      <Content />
    </article>

    <script>
      document.querySelectorAll("pre").forEach((block) => {
        const button = document.createElement("button");
        button.innerText = "Copy";
        button.className = "copy-button";

        button.addEventListener("click", async () => {
          const codeElement = block.querySelector("code");
          if (codeElement) {
            const code = codeElement.innerText;
            await navigator.clipboard.writeText(code);
            button.innerText = "Copied";
            setTimeout(() => (button.innerText = "Copy"), 1500);
          }
        });

        block.appendChild(button);
      });
    </script>
  </body>
</html>
